<div {{ attributes }}>
  <div class="filters-section component-background-image component-background-color component-background-color-gray" style="--bg-img: url({{ '/' ~ active_theme_path() ~  '/images/noise.jpg'}});">
    {{ filters }}
  </div>
  <div class="header-section">
    {{ header }}
    {{ pager }}
  </div>
</div>
