<a href="{{ link_url }}" {{ attributes }}>
  {{ include(
    'drupalcamp:title',
    { text: title, html_tag: 'h3' },
    with_context = false
  ) }}
  <div class="speakers">{{ speakers }}</div>
  <ul class="tags ul--pills--inline ul--pills--small">
    {% for tag in tags %}
      {% if tag|render|striptags is not empty %}
        {{ tag }}
      {% endif %}
    {% endfor %}
  </ul>
</a>
