<div {{ attributes }}>
  <div class="title">{{ title }}</div>
  <div class="price">{{ price }}</div>
  {{ include(
    'drupalcamp:link',
    { link_title: link_text, link_uri: link_uri, variant: link_variant | default('primary') },
    with_context = false
  ) }}
  <div class="text text-formatted">{{ text }}</div>
</div>
